# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /RouteX/

# Avoid redirect loops by checking if the file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php for processing
RewriteRule . /RouteX/index.php [L]
</IfModule>
# END WordPress
