.stories{
    padding: 40px 0;
}
.story-archive-container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}
.story-card-contaiener{
    margin: 15px 0;
    min-height: 555px;
}

.story-card {
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 40px;
    padding-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 555px; 

    &.card-primary {
        background-color: var(--primary-color);
    }

    &.card-contrast {
        background-color: var(--contrast-color);
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    }
}

.story-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.story-text {
    font-size: 30px;
    line-height: 50px;
    color: var(--base-color);
    font-weight: var(--regular);
    word-break: break-word;
}

.story-card-details {
    display: flex;
    flex-direction: row;
    align-items: center;

    .story-card-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }

    .story-card-person {
        width: 70%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .story-card-person-name {
            margin: 2px;
            font-size: 22px;
            line-height: 30px;
            font-weight: var(--bold);
        }

        .story-card-person-position {
            margin: 2px;
            color: var(--secondary-color);
            font-size: 16px;
            line-height: 30px;
            font-weight: var(--regular);
        }
    }
}

.custom-pagination {
    max-width: 1290px;
    margin: 40px auto;
    width:100%;
}

.custom-pagination-container{
    max-width: 850px;
    margin: 0 auto;
    width:100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.story-card-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.story-card-link:visited {
    color: var(--secondary-color); 
}

.story-card-link:hover {
    color: var(--secondary-color); 
}
.story-archive-custom-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(630px, 1fr));
    gap: 1.5rem;
}