@keyframes rtl-scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.client-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-track {
    display: inline-flex;
    white-space: nowrap;
    animation: rtl-scroll 30s linear infinite;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.client-img {
    width: 100px;
    max-height: 50px;
    margin: 0 10px;
    display: inline-block;
    filter: grayscale(100%);
    transition: all 0.3s;
}

.client-img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}