:root {
  --primary-color: #ffffff;
  --secondary-color: #034833; 
  --base-color: #727272; 
  --contrast-color: #f1f5eb; 
  --light-color: #e3dbd8; 
  --dark-color: #111214; 
  --accent-color: #83cd20; 
  --negatives-color: #cd2424;       
  --neutrals-color: #20b0cd;       
  --positives-color: #046a14; 
}
