:root {
  /* Colors */
  --primary-color: #ffffff; /* White */
  --secondary-color: #034833; /* Dark Green */
  --base-color: #727272; /* Gray */
  --contrast-color: #111214; /* Dark Color */
  --light-color: #e3dbd8; /* Light Gray */
  --dark-color: #f1f5eb; /* Off White */
  --accent-color: #83cd20; /* Bright Green */
}
