@use 'colors' as *;

.countries-section-container{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 15px;
    color: var(--primary-color);
    height: 866px;
    border-radius: 50px;
    background-color: var(--secondary-color);
}

.countries-section-title-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

.countries-section-subtitles{
    gap: 10px;
    margin-bottom: 10px;
    letter-spacing: 1.4px;
}

.countries-section-buttons{
    gap: 20px;
    display: flex;
    align-items: center;
}

.countries-section-button{
    width: 60px;
    height: 60px;
    border: 1px solid var(--light-color);
    border-radius: 50%;
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.3s;
}

.countries-section-button:hover{
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.slide-height {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.slider_hover__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider_hover__item li {
    border-radius: 20px;
    cursor: pointer;
    flex: 1;
    max-width: 410px;
    width: 100%;
    height: 422px;
    transition: flex 0.3s ease;
}

.slider_hover__item li.active {
    flex: 2.3;
  }

.project-three__single-inner {
    position: relative;
    display: block;
    min-height: 550px;
    
}

.project-small-img {
    position: absolute;
    margin-right: 20px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    right: 0;
    z-index: 2;
}

.project-small-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
  }

.project-three__single-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    max-height: 422px;
    border-radius: 20px;
    background-color:#D9D9D9;
}

.project-three__single-content {
    background: #83CD20;
    position: absolute;
    width: calc(100% - 24px);
    border-radius: 20px;
    left: 12px;
    bottom: 140px;
    padding: 31px 28px 28px 28px;
    overflow: hidden;
    -webkit-transform: perspective(400px) rotateX(40deg) scaleY(0.7);
    -ms-transform: perspective(400px) rotateX(40deg) scaleY(0.7);
    transform: perspective(400px) rotateX(40deg) scaleY(0.7);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    transition-property: all;
    opacity: 0;
    z-index: 3;
}

.slider_hover__item li.active .project-three__single-content {
    transform: perspective(400px) rotateX(0deg) scaleY(1);
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
    transition-property: all;
    opacity: 1;
}

.project-three__single-content h4 {
    line-height: 22px;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 10px;
  }

.project-three__single-content p {
    font-weight:400;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 0;
    font-style: normal;
}

.project-three__single-content-button {
    margin-top: 20px;
}

.project-three__single-content-button a {
    background: var(--accent-color);
    color: var(--primary-color);
    font-weight: 600;
    line-height: 30px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
    padding: 15px 30px;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}

.project-three__single-content-button a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
}