.continents-list {
    list-style: none; 
    padding: 20px;
    margin-top: 28px;
    border-radius: 20px;
    border: 2px var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0;

    .list-group-item {
        padding: 15px;
        margin-bottom: 10px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            color: var(--secondary-color);
            text-decoration: none;
            font-size: 22px;
            font-weight: var(--bold);
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            
            &:visited {
                color: var(--secondary-color);
            }

            &:hover {
                color: var(--accent-color);
            }

            .continent-text {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
            }

            .continent-icon {
                width: 8px;
                height: 12px;
            }
        }

        &.active {
            a {               
                color: var(--accent-color);
            }
        }
    }

    hr {
        width: 325px;
    }
}

.contact-card {
    margin-top: 20px;

    .card-header {
        background-color: var(--contrast-color);
        color: var(--secondary-color);
        text-align: center;
        padding: 10px 15px;    
        border-radius: 20px 20px 0 0;
    }
    
    .card-body {
        padding: 20px;
        padding-top: 8px;
        padding-bottom: 35px;
        border: 1px solid var(--light-color);
        border-top: none;
        border-radius: 0 0 20px 20px;
        box-sizing: border-box;
    }

    .contact-item {
        display: flex;
        align-items: center;
        padding-left: 10px;
        svg {
            width: 16px;
            height: 16px;
            path{
                fill: var(--accent-color);
            }
        }
        p{
            color: var(--secondary-color);
            padding-left: 20px;
        }
    }
    .contact-link {
        margin-top: 25px; 
        margin-left: 10px;
        margin-bottom: 13px;
        display: flex;               
        align-items: center;         
        text-align: left;          
        color: var(--secondary-color);
        text-decoration: none;
        font-weight: var(--bold);
        img{
            padding-left: 6px;
        }
    }
}

@include media-md{
    .continents-list{
        hr {
            width: 285px;
        }
    }
}
