/*Font family*/
$plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

/* Regular weights */
$plus-jakarta-sans-thin: 200;
$plus-jakarta-sans-light: 300;
$plus-jakarta-sans-regular: 400;
$plus-jakarta-sans-medium: 500;
$plus-jakarta-sans-semibold: 600;
$plus-jakarta-sans-bold: 700;
$plus-jakarta-sans-extrabold: 800;

/* Italic weights */
$plus-jakarta-sans-italic-thin: 200;
$plus-jakarta-sans-italic-light: 300;
$plus-jakarta-sans-italic-regular: 400;
$plus-jakarta-sans-italic-medium: 500;
$plus-jakarta-sans-italic-semibold: 600;
$plus-jakarta-sans-italic-bold: 700;
$plus-jakarta-sans-italic-extrabold: 800;


// :root {
//     --primary-font-family: 'Default Font', sans-serif; // Default font, can be overridden by PHP
//     --secondary-font-family: 'Default Font', sans-serif;
// }
