.footer__area{
    padding-top: 60px;
    background-color: var(--primary-color);
  }
  
  .footer__area-home{
    padding-top: 60px;
    background-color: var(--contrast-color);
  }
  
  .footer__area-common {
    background: var(--secondary-color);
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: var(--primary-color);
    margin-bottom: -25px;
  
    @include media-lg {
      background-size: unset;
    }
  
    .footer-top-container{
      width: 100%;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(255, 255, 255, 0.3);
    }
  
    .footer-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1290px;
      margin: 0 auto;
      width: 100%;
      flex-wrap: wrap;
      padding: 0 20px;
  
      @include media-xxl {
        padding: 0 0;
      }
    
      .footer-top-left,
      .footer-top-right {
        display: flex;
        align-items: center;
        gap: 10px;
  
        .footer-left-svg,
        .footer-right-svg {
          background: var(--accent-color);
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .footer-left-svg img, 
        .footer-right-svg img{
          width: 30px;
          height: 30px;
        }
  
        h3{
          font-weight: var(--semibold);
          font-size: 20px;
          line-height: 36px;
          margin: 0;
          text-transform: capitalize;
          max-width: 240px;
          padding: 40px 0;
        }
  
        @include media-sm {
          h3{
            max-width: 254px;
          }
        }
  
        @include media-md {
          h3{
            font-size: 30px;
            padding: 54px 0;
          }
        }
  
        @include media-lg {
          h3{
            max-width: 330px;
          }
  
          .footer-left-svg,
          .footer-right-svg {
            width: 80px;
            height: 80px;
          }

          .footer-left-svg img, 
          .footer-right-svg img{
            width: 40px;
            height: 40px;
          }
        }
      }
  
      
    }
    @include media-md {
      .footer-top {
        .footer-top-left,
        .footer-top-right {
          gap: 30px;
        }
  
        .footer-divider {
          width: 1px;
          background-color: rgba(255, 255, 255, 0.3);
          height: 117px;
          margin: 0 20px;
        }
      }
    }
  }
  .footer__logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding:0 0 25px 0;
  }
  .footer-description {
    font-weight: var(--regular);
    font-size: 16px;
    margin: 0;
    line-height: 30px;
  }
  .footer__social {
    display: flex;
    gap: 25px;
    margin-top: 20px;
  
    a {
      display: flex;
      align-items: center;
      transition: transform 0.3s ease;
    }
  }
  .footer__widget{
    max-width: 323px;
  }
  .footer__link {
    p {
      font-size: 22px;
      line-height: 30px;
    }
    ul {
      padding: 0;
      margin: 0;
      display: grid;
      grid-gap: 10px;
  
      li {
        list-style: none;
        display: flex;
        align-items: flex-start;
  
        a {
          color: var(--primary-color);
          text-decoration: none;
          display: flex;
          align-items: center;
          font-weight: var(--regular);
          gap: 15px;
          font-size: 16px;
          line-height: 30px;
          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
  }
  .footer-form {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
  
    .form-control {
      margin-left: 20px;
      border: none;
      background-color: var(--dark-color);
      color: var(--primary-color);
      font-size: 16px;
      font-weight: var(--regular);
      width: 85%;
      padding: 17px 0;
      
  
      &::placeholder {
        color: var(--primary-color);
      }
  
      &:focus {
        color: var(--primary-color);
      }
  
      &:focus-visible {
        outline: none;
      }
    }
  
    .submit {
      background-color: var(--accent-color);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .footer__bottom-wrapper {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--contrast-color);
    min-height: 90px;
    font-size: 16px;
    line-height: 30px;
    opacity: 80%;
    font-weight: var(--regular);
  }
  .footer__bottom-wrapper-container{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer__copyright {
    max-width: 100%;
    display: flex;
    justify-content: center;
      p {
          margin: 0;
          padding: 10px 0;
      }
  }
  .footer__copyright-menu {
    display: flex;
    justify-content: center;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
  
      li {
        a {
          color: var(--primary-color);
          text-decoration: none;
  
          &:hover {
            color: var(--accent-color);
          }
        }
      }
    }
  }
  .footer-logo-text {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    letter-spacing: -1.44px;
    font-weight: var(--bold);
  }
  .footer-wrap {
    align-items: start;
  }
  .footer__subscribe-title {
    font-size: 22px;
    line-height: 30px;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 30px;
    width: 100%;
  }
  .footer-mid-container{
    max-width: 1290px;
    margin: 0 auto;
    width: 100%;
    padding: 80px 20px 102px 20px;
  }
  .footer__widget-title{
    font-size: 22px;
    font-weight: var(--bold);
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 18px;
    margin-bottom: 35px;
  }
  .footer__widget-item-4 {
      p {
          font-weight: var(--regular);
          line-height: 30px;
          font-size: 16px;
          margin: 0;
      }
  }
  .footer__logo-icon{
    width: 40px;
    height: 33px;
  }
  @include media-md{
    .footer__logo-container {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      gap: 10px;
    }
    .footer-description {
      text-align: left;
      margin-top: 5px;
    }
    .footer__social {
      display: flex;
      justify-content: flex-start;
      gap: 25px;
      margin-top: 20px;
  
      a {
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1);
        }
  
        .social_icon {
          filter: invert(0) brightness(1);
          transition: filter 0.3s ease;
  
          &:hover {
            filter: invert(0.5) brightness(1.4);
          }
        }
      }
    }
    .footer-form {
      width: 100%;
      position: relative;
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
    }
    .footer__copyright {
      max-width: 100%;
      display: block;
    }
    .footer__copyright p{
      padding: 0 0;
    }
    .footer__copyright-menu {
      display: flex;
      justify-content: end;
      ul {
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 39px;
      }
    }
  }
  @include media-lg {
    .footer__widget-item-3{
      padding-left: 45px;
    }
    .footer3__item-2{
      margin-left: -25px;
    }
    .footer__widget-title{
      margin-top: 0;
    }
  }
  @include media-xxl {
    .footer-mid-container{
      padding: 80px 0 102px 0;
    }
    .footer__bottom-wrapper-container{
      padding: 0 0;
    }
  }
  