.site-header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
}

.home-header {
    background-color: var(--contrast-color);
    display: flex;
    justify-content: center;
}
.header-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    flex-direction: row;
    max-width: 1800px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.site-branding {
	display: flex;
	align-items: center;
	order: 1;
	div {
		font-size: 32px;
		line-height: 40px;
		font-weight: var(--bold);
		color: var(--secondary-color);
	}
	img {
		max-width: 150px;
		height: auto;
	}
}
.menu-toggle {
	order: 3;
	display: block;
	background-color: var(--accent-color);
	color: var(--primary-color);
	border: none;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s;
	&:hover {
		background-color: var(--secondary-color);
	}
}
.main-navigation {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
	z-index: 10;
	padding: 16px 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	&.active {
		display: flex;
	}
	a {
		padding: 0 10px;
		text-align: left;
		font-size: 15px;
		font-weight: var(--bold);
		line-height: 26px;
		text-decoration: none;
		color: var(--secondary-color);
		transition: background-color 0.3s;
		&:hover {
			color: var(--accent-color);
		}
	}
}
.home-navigation {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--contrast-color);
	z-index: 10;
	padding: 16px 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	&.active {
		display: flex;
	}
	a {
		padding: 0 10px;
		text-align: left;
		font-size: 15px;
		font-weight: var(--bold);
		line-height: 26px;
		text-decoration: none;
		color: var(--secondary-color);
		transition: background-color 0.3s;
		&:hover {
			color: var(--accent-color);
		}
	}
}
#primary-menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	list-style: none;
	padding: 0;
	margin: 0;
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		width: 100%;
		margin: 0;
		a {
			display: block;
			text-align: left;
			color: var(--secondary-color);
			font-size: 15px;
			font-weight: var(--bold);
			line-height: 56px;
			text-decoration: none;
			transition: background-color 0.3s;
			width: 100%;
			letter-spacing: 1.4px;
			&:hover {
				color: var(--accent-color);
			}
		}
	}
}
.menu-toggle {
    margin-right: 6px;
    font-size: 11px;
    padding: 3% 5%;
    border-radius: 25px;
    height: 50px;
}
.button-div {
    order: 2;
}
.appointment-button {
	background-color: var(--accent-color);
	color: var(--primary-color);
	margin-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	height: 50px;
	border: none;
	border-radius: 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 9px;
	line-height: 30px;
	font-weight: var(--semibold);
	transition: background-color 0.3s ease, color 0.3s ease;
	gap: 10px;
	&:hover {
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}
	&:visited {
		color: var(--primary-color);
	}
}
@include media-md {
    .header-container {
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .site-branding {
        order: 1;
    }
    .main-navigation {
        order: 2;
        display: flex;
        justify-content: center;
        flex: 2;
        margin: 0;
        box-shadow: none;
        position: relative; 
        top: 0; 
        left: 0;
        width: 0;
        z-index: 0;
        padding: 16px 0;
    }
    .home-navigation {
        order: 2;
        display: flex;
        justify-content: center;
        flex: 2;
        margin: 0;
        box-shadow: none;
        position: relative; 
        top: 0; 
        left: 0;
        width: 0;
        z-index: 0;
        padding: 16px 0;
    }
    .button-div {
        order: 3;
        margin-left: auto;
        margin-top: 0;

        img {
            display: flex;
        }
    }
    .menu-toggle {
        display: none;
    }
    #primary-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        li {
            width: auto;
            a {
                display: block;
                text-align: center;
                transition: 0.4s, color 0.4s;
            }
        }
    }    
    .appointment-button {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
        margin-top: 0;
        font-weight: var(--thin);
    }
}
@include media-xl {
    .header-container {
        padding: 15px 0;
    }
}
