.site-header {
    background-color: var(--contrast-color);
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1800px;
}

.site-branding{
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-branding div{
    font-size: 32px;
    line-height: 40px;
    font-weight: var(--bold);
    color: var(--secondary-color);
}

.site-branding img {
    max-width: 150px;
    height: auto;
}

.menu-toggle {
    display: block;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu-toggle:hover {
    background-color: var(--secondary-color);
}

.main-navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--contrast-color);
    width: 100%;
}

.main-navigation.active {
    display: flex;
    flex-direction: column;
}

.main-navigation a {
    padding: 0 10px;
    text-align: center;
    font-size: 10px;
    display: block;
}

.main-navigation #primary-menu li {
    margin: 0;
}

.menu-menu-1-container {
    width: 100%;
}

#primary-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: stretch;
}

#primary-menu li {
    width: 100%;
}

#primary-menu li a {
    display: block;
    text-align: center;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: var(--bold);
    line-height: 26px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    letter-spacing: 1.4px;
}


.main-navigation a:hover {
    color: var(--accent-color);
}

.menu-toggle {
    margin-top: 16px;
    order: 1;
    font-size: 15px;
    padding: 3% 5%;
    border-radius: 25px;
}

.button-div {
    order: 2;
    margin-top: 16px;
}

.appointment-button {
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: var(--semibold);
    transition: background-color 0.3s ease, color 0.3s ease;
    gap: 10px;
}

.appointment-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

@include media-md {
    .header-container {
        padding: 20px 0;
        flex-direction: row;
        justify-content: center;
    }

    .main-navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-toggle {
        display: none;
    }

    .main-navigation a {
        text-align: left;
        width: auto;
    }

    .button-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #primary-menu {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: center;
    }
    
    #primary-menu li {
        width: auto;
        margin: 0 16px;
    }
    
    #primary-menu li a {
        text-align: center;
        transition: 0.4s, color 0.4s;
        display: inline-block;
    }
    
    #primary-menu li:hover {
        color: var(--accent-color);
    }

    .appointment-button {
        margin-top: 0;
    }

    .button-div {
        margin-top: 0;
    }
}

@include media-xl {
    .header-container {
        padding: 30px 0;
        flex-direction: row;
        justify-content: center;
    }
}
