body {
	&.single {
		.entry-header {
			max-width: 1200px;
			.thumbnail-img {
				width: 100%;
				max-width: 100%;
				margin: 0 auto;
				display: block;
			}
		}
		.entry-content {
			max-width: 1200px;
		}
		.entry-title {
			color: var(--secondary-color);
			max-width: 1200px;
		}
	}
}