body.single .entry-header .thumbnail-img {
    width: 100%;
    max-width: 100%;
    max-width: 850px; 
    margin: 0 auto; 
    display: block; 
}



body.single .entry-title {
    color: var(--secondary-color);
}

body.single .post{
    padding: 20px;
}