.story-single-section {
    padding: 50px 0;
    max-width: 1800px;
    align-self: center;
}

.story-background-image {
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 10px;
    filter: brightness(0.8);
    position: relative;
}

.story-front-image {
    transform: rotate(-5deg);
    max-width: 80%;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.story-title{
    font-size: 38px;
    color: var(--secondary-color);
}

.story-single-section  p {
    color: var(--base-color);
}


.story-buttons{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

.apply-button {
    background-color: var(--accent-color);
    border: 0.5px solid var(--accent-color);
    color: var(--secondary-color);
    margin-top: 0;
    padding-left: 26px;
    padding-right: 15px;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 30px;
    font-weight: var(--semibold);
    transition: background-color 0.3s ease, color 0.3s ease;
    gap: 10px;
}

.apply-button:hover {
    background-color: var(--primary-color);
}

.apply-button img {
    margin-top: 4px;
}

.apply-button:visited {
    color: var(--secondary-color);
}

.read-more-button{
    background-color: var(--accent-color);
    border: 0.5px solid var(--accent-color);
    color: var(--secondary-color);
    margin-top: 0;
    padding-left: 26.8px;
    padding-right: 15px;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 30px;
    font-weight: var(--semibold);
    transition: background-color 0.3s ease, color 0.3s ease;
    gap: 10px;
}


.read-more-button:hover {
    background-color: var(--primary-color);
}

.read-more-button:visited {
    color: var(--secondary-color);
}


.story-image-div{
    margin-top: 30px;
    margin-left: 15px;
    svg{
        width: 328px;
        height: 402px;
    }
}



@include media-md {
    .story-image-div {
      margin-top: 40px;
      margin-left: 0;
      svg {
        width: 478px;
        height: 542px;
        padding-left: 5px;
      }
    }
  }
  