.card1 {
	background-color: var(--contrast-color);
	// Creamy background color
    border: 1px solid var(--light-color);
	// Small border
    border-radius: 15px;
	// Slightly rounded corners
    padding: 15px;
	font-family: var(--primary-font-family);
	// Use the imported font
    .card-body {
        padding: 20px;
	margin-top: 0;
    }
    .cardic {
        align-self: left;
        margin-left: 0;
    }
    .card-title {
        color: var(--secondary-color);
        font-weight: var(--bold);
        // Bold weight from your imported fonts
            margin-bottom: 3%;
        // Space between the title and text
            margin-top: 7%;
    }
    .card-text {
        color: gray;
        font-size: 78%;
    }

	.cardrow {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

@include media-md {
    .cardrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    }
}

.col-md-4 {
	flex: 1 1 calc(33.33% - 20px);
	&:nth-child(2) {
		margin-left: auto;
	}
}
