.client-carousel-swiper {
	max-width: 1380px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.client-carousel-container-item{
	display: flex;
	align-items: center;
	justify-content: center;
}

.client-img {
	width: auto;
  	height: 48px;
	max-width: 100%;
	transition: all 0.3s;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}