.coaching-section-container {
	max-width: 1290px;
	width: 100%;
	margin: 0 auto;
	color: var(--secondary-color);
}
.coaching-section-title-container {
	display: flex;
	align-items: end;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 20px;
	margin-bottom: 60px;
}
.coaching-titlee {
	color: var(--secondary-color);
}
.coaching-section-subtitles {
	gap: 10px;
	margin-bottom: 10px;
	letter-spacing: 1.4px;
	display: flex;
}
.coaching-subtitle {
	color: var(--secondary-color);
}
.coaching-section-buttons {
	gap: 20px;
	display: flex;
	align-items: center;
}
.coaching-section-button { 
	width: 60px;
	height: 60px;
	border: 1px solid var(--light-color);
	border-radius: 50%;
	background-color: transparent;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative; 
	&:hover {
		background-color: var(--accent-color);
		border: 1px solid transparent;
		cursor: pointer;
		svg path{
			fill: var(--primary-color);
		}
	}
}

body.dark-mode .coaching-section-button img.arrow-icon {
	filter: brightness(0) invert(1); 
}

body.dark-mode .coaching-section-button:hover img.arrow-icon {
	filter: brightness(1) invert(0); 
}

.coaching-item {
	padding: 40px 30px;
	border: 1px solid var(--light-color);
	border-radius: 20px;
	transition: 0.3s;
}
.coaching-item-icon {
	img {
		width: 70px;
		height: 70px;
		border: 1px solid var(--accent-color);
		border-radius: 50%;
	}
}
.coaching__item-media {
	overflow: hidden;
	border-radius: 10px;
}
.coaching-item_thumb-image {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}
.coaching__item-media-img-title {
	background: var(--primary-color);
	right: 0;
	margin: auto;
	margin-left: 30px;
	z-index: 7;
	padding: 30px 40px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	justify-content: space-between;
	margin-top: -75px;
	align-items: center;
	position: relative;
	display: flex;
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
}
.coaching__item-media-img-title-text {
	h4 {
		color: var(--secondary-color);
		font-weight: var(--bold);
		line-height: 30px;
		font-size: 22px;
		margin-bottom: 10px;
		margin-top: 0;
	}
	p {
		color: var(--base-color);
		font-weight: var(--regular);
		line-height: 30px;
		font-size: 16px;
		margin-bottom: 0;
	}
}
.coaching__item-media-img-title-button {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    border: none;
    border-radius: 20px;
    margin-left: 5px;
    position: relative; 
	transition: all ease 0.3s;

    a {
        border: 1px solid var(--light-color);
        border-radius: 20px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-decoration: none;
		transition: all ease 0.3s;
		&:hover {
			background-color: var(--secondary-color);
			border: 1px solid transparent;
			transition: all ease 0.3s;
			svg path{
				fill: var(--primary-color);
			}
		}
    }
}
.coaching-item_thumb {
	height: 324px;
}