.contact-form-section-container {
	max-width: 1290px;
	width: 100%;
	margin: 0 auto;
	color: var(--secondary-color);
}
.contact-form-section{
    display: flex;
    align-items: center;
}
.contact-form-section-image {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 100%;
    max-width: 600px;
    height: 100%;
}
.contact-form-section-title-container {
	margin-top: 40px;
}
.contact-form-section-subtitles {
	gap: 10px;
	margin-bottom: 10px;
	letter-spacing: 1.4px;
	display: flex;
}
.contact-form-subtitle {
	color: var(--secondary-color);
}
.contact-form-title {
	color: var(--secondary-color);
    margin-bottom: 40px;
}
.wpcf7 {
    display: flex;
    justify-content: center;
    background-color: var(--contrast-color);
    border-radius: 20px;
    padding: 40px;

    .wpcf7-form{
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 30px;
        font-weight: var(--regular);
    }
    .inline-field-wrapper {
        display: flex;
        border: 1px solid var(--light-color);
        border-radius: 30px;
        background: var(--primary-color);
    }
    input {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        border-radius: 30px;
        padding: 15px 5px 15px 20px;
        color: var(--secondary-color);
        border: none;
        font-weight: var(--regular);
        &:focus-visible{
            outline: none;
        }
    }
    textarea {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        border-radius: 30px;
        padding: 15px 5px 15px 20px;
        color: var(--secondary-color);
        border: none;
        resize: none;
        height: 130px;
        font-weight: var(--regular);
        &:focus-visible{
            outline: none;
        }
    }
    .wpcf7-submit{
        width: 100%;
        background-color: var(--accent-color);
        border: none;
        font-size: 14px;
        line-height: 30px;
        font-weight: var(--semibold);
        color: var(--primary-color);
        padding: 15px 5px 15px 0px;
        &:hover{
            cursor: pointer;
            background-color: var(--secondary-color);
        }
    }
    .wpcf7-spinner {
        display: none;
    }
    .inline-fields-icon{
        display: flex;
        align-items: start;
        padding-top: 23px;
        padding-right: 20px;
    }
    .wpcf7-response-output{
        text-align: center;
    }
    form.invalid .wpcf7-response-output{
        border: none;
        color: var(--negatives-color);
    }
    form.sent .wpcf7-response-output{
        border: none;
    }
}
@include media-xl{
    .contact-form-section-title-container{
        margin-top: 0;
    }
}
