
.ctadiv {
    border: 1px solid var(--light-color);
    border-radius: 20px;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    font-family: var(--primary-font-family);
}

.top-right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    background-color: var(--primary-color);

    .title2 {
        color: var(--secondary-color);
    }

    p {
        color: var(--base-color);
    }

    .cta-button {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 15px 30px;
        border: 1px solid var(--light-color);
        border-radius: 30px;
        text-decoration: none;
        display: inline-block;
        font-size: 0.875rem;
        font-weight: var(--regular);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .cta-button:hover {
        background-color: var(--accent-color);
        color: var(--primary-color);
        transform: scale(1.02);
    }

    .img2 {
        border-radius: 20px 20px 20px 0;
        padding-top: 10px;
        height: 100%;
        object-fit: cover;
    }
}

.bottom-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding-top: 0;

    .counter-item {
        h3 {
            font-weight: var(--bold);
            font-size: 240%;
            margin-bottom: 5px;
        }

        p {
            font-weight: var(--thin);
            font-size: 90%;
            margin-top: 0;
        }
    }
}

.imagediv {
    padding: 0;
    max-width: 93%;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
}

.imagediv img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.left-content {
    align-items: center;
}

.circle {
    margin-left: 38%;
}

.right-image {
    width: 100%;
    height: auto;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    border-radius: 20px;
}

@include media-md {
    .ctadiv {
        display: flex;
    }

    .circle {
        margin-left: 0;
    }

    .cta-container {
        padding-left: 1.4%;
    }

    .cta-content-div {
        height: auto;
    }

    .top-right-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
        height: auto;
    }

    .left-content {
        flex: 1;
        text-align: left;
        align-items: left;
        padding: 35px;
        padding-left: 45px;
    }

    .right-image {
        width: 30%;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 0;
        margin-top: 0;
        position: relative;
    }

    .right-image::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 35px solid var(--primary-color);
        border-top: 200px solid transparent;
    }

    .bottom-counter {
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        flex-direction: row;
        padding-left: 10%;
        padding-right: 10%;
    }

    .counter-item h3 {
        font-size: 500px;
    }
}
