.cta-container{
    max-width: 1290px;
    margin: 0 auto;
    width: 100%;
}

.ctadiv {
    border-radius: 20px;
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    font-family: var(--primary-font-family);
}

.top-right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: var(--primary-color);

    .title2 {
        color: var(--secondary-color);
    }

    p {
        color: var(--base-color);
    }

    .cta-button-container{

        a {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 15px 30px;
            border: 1px solid var(--light-color);
            border-radius: 30px;
            text-decoration: none;
            display: inline-flex;
            font-size: 14px;
            line-height: 30px;
            font-weight: var(--semibold);
            transition: 0.3s;
            gap: 10px;

            &:hover{
                background-color: var(--accent-color);
                color: var(--primary-color);
                border: 1px solid transparent;
            }
    
            &.hover-img {
                display: none;
            }
        }

        &:hover {
            a {
                &.default-img {
                    display: none;
                }
                &.hover-img {
                    font-weight: var(--semibold);
                    line-height: 30px;
                    font-size: 14px;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    padding: 15px 30px;
                    border-radius: 30px;
                    transition: 0.3s;
                    text-decoration: none;
                }
            }
        }
    }

    

    

    .img2 {
        border-radius: 20px 20px 20px 0;
        padding-top: 10px;
        height: 100%;
        object-fit: cover;
    }
}

.bottom-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 60px 60px;
    border-radius: 20px;
    margin-bottom: 20px;

    .counter-item {
        h3 {
            font-weight: var(--bold);
            font-size: 50px;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 60px;
        }

        p {
            font-weight: var(--regular);
            font-size: 16px;
            margin: 0;
            line-height: 30px;
        }
    }
}

.imagediv {
    max-width: 440px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}

.imagediv img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.left-content {
    align-items: center;
}


.right-image {
    width: 100%;
    height: auto;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    border-radius: 20px;
}

@include media-md {
    .ctadiv {
        display: flex;
    }

    .circle {
        margin-left: 0;
        padding: 2px;
    }

    .cta-content-div {
        height: auto;
    }

    .top-right-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 0;
        height: auto;
    }

    .left-content {
        flex: 1;
        text-align: left;
        align-items: left;
        padding: 35px;
        padding-left: 45px;
    }

    .right-image {
        width: 30%;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 0;
        margin-top: 0;
        position: relative;
    }

    .right-image::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 35px solid var(--primary-color);
        border-top: 200px solid transparent;
    }

    .bottom-counter {
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        flex-direction: row;
        
        
    }

    .counter-item h3 {
        font-size: 500px;
    }

}