.cta-container{
    max-width: 1290px;
    margin: 0 auto;
    width: 100%;
}
.top-right-section {
    text-align: left;
    background-color: var(--primary-color);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    height: auto;
    border-radius: 20px; 
    margin-bottom: 30px;
    .title2 {
        color: var(--secondary-color);
        margin: 15px 0;
    }
    p {
        color: var(--base-color);
    }
    .cta-button-container {
        display: flex;
        align-items: center;
    }
    .cta-button-container { 
        display: flex;
        align-items: center;
    }
    .cta-button {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 15px 30px;
        border: 1px solid var(--light-color);
        border-radius: 30px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
        transition: all 0.3s ease;
        &:hover {
          background-color: var(--accent-color);
          color: var(--primary-color);
          border: 1px solid transparent;
            svg path{
                fill: var(--primary-color);
            }
        }
    }
    .img2 {
        border-radius: 20px 20px 20px 0;
        padding-top: 10px;
        height: 100%;
        object-fit: cover;
    }
}
.bottom-counter {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 60px 60px;
    border-radius: 20px;
    justify-content: space-between;
    flex-wrap: wrap; 

    .counter-item {
        h3 {
            font-weight: var(--bold);
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 5px;
            line-height: 60px;
        }

        p {
            font-weight: var(--regular);
            font-size: 16px;
            margin: 0;
            line-height: 30px;
        }
    }
}
.imagediv {
	height: 350px;
	img {
		border-radius: 20px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.left-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 0 35px 25px;
}
.right-image {
    height: 350px;
    position: relative;
    padding: 0 20px 35px 20px;
    img{
        border-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.icon{
    width: 45px;
    height: 45px;
}
.top-right-section-text{
    margin-top: 0;
    margin-bottom: 25px;
}
@include media-sm{
    .top-right-section{
        flex-direction: row;
    }
    .right-image {
        height: 100%;
        margin-right: -15px;
        padding: 0;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 30px solid var(--primary-color);
            border-top: 210px solid transparent;
        }
    }
}
@include media-md{
    .imagediv{
        height: 100%;
    }
    .top-right-section {
        margin-top: 0;
    }
    .left-content{
        padding: 35px 0 35px 45px;
    }
}
@include media-xl{
    .bottom-counter .counter-item {
        h3 {
            font-size: 50px;
        }
    } 
}
