.line-section {
  background-color: var(--accent-color);
  padding: 24px;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.line-item {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.line-carousel-swiper .swiper-slide {
  width: 110px;
  display: flex;
  justify-content: center;
}

.line-item img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.line-item span {
  font-size: 14px;
  color: var(--contrast-color);
}

@include media-sm {
  .swiper-wrapper {
    gap: 0;
  }

  .line-item img {
    height: 40px;
    width: 40px;
  }

  .line-item span {
    font-size: 12px;
  }
  .line-carousel-swiper .swiper-slide {
    width: 50px;
  }
}

@include media-md {
  .line-item img {
    height: 45px;
    width: 45px;
  }

  .line-item span {
    font-size: 13px;
  }
  .line-carousel-swiper .swiper-slide {
    width: 90px;
  }
}

@include media-lg {
  .line-item img {
    height: 50px;
    width: 50px;
  }

  .line-item span {
    font-size: 14px;
  }
  .line-carousel-swiper .swiper-slide {
    width: 90px;
  }
}
