.our-coaching-section-container {
    max-width: 1290px;
	width: 100%;
	margin: 0 auto;

    h2 {
        color: var(--secondary-color);
        text-align: center;
    }

    .subtitle {
        color: var(--secondary-color);
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .card {
            background-color: var(--primary-color);
            border: 1px solid var(--light-color);
            border-radius: 15px;
            padding: 16px;
            padding-top: 0;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name-position-div {
                flex: 1;
                padding-left: 20px;
                h5 {
                    color: var(--secondary-color);
                    font-family: var(--primary-font-family);
                    margin-bottom: 8px;
                    font-size: 20px;
                    text-align: left;
                    margin-top: 0;
                    padding-top: 32px;
                }

                p {
                    color: var(--base-color);
                    font-family: var(--primary-font-family);
                    font-size: 14px;
                    text-align: left;
                    margin-bottom: 16px;
                }
            }

            .person-link {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-top: 23px;

                a {
                    color: var(--accent-color);
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }


    .bg-image {
        position: relative;
        height: 400px;
        display: flex;
        border-radius: 25px;
        margin-top: 35px;

        .overlay-content {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: var(--primary-color);

            .btn {
                background-color: var(--accent-color);
                color: var(--light-color);
                margin: 0.5rem;

                &:hover {
                    background-color: var(--primary-color);
                }
            }
        }
    }

    .svg-link2 {
        position: relative;
        display: inline-block;
        overflow: hidden;
        border-radius: 40px;
        transition: background-color 0.2s ease; 
    }
    
    .svg-link2 path {
        transition: fill 0.3s ease; 
    }
    
    .svg-link2:hover #lis1 {
        fill: var(--accent-color);
    }
    
    .svg-link2:hover #lis2 {
        fill: var(--primary-color); 
    }
    


    .social-media-links-div {
        background-color: var(--primary-color);
        width: 60%;
        height: auto;
        border-radius: 25px;
        padding: 10px;
        padding-bottom: 0;
        a {
            padding: 10px;
        }
    }

    .svg-link-icon {
        position: relative;
        display: inline-block;
        overflow: hidden;
        transition: fill 1s ease;
    }

    .svg-link-icon:hover path,
    .svg-link-icon:hover rect {
        fill: var(--accent-color);
    }
    
    

    @include media-md {
        background-color: transparent;
        .process-overview-bg-img{opacity: 0.1;}

        h2 {
            text-align: left;
            margin-top: 25px;
            padding-top: 0;
        }

        .our-coaching-section-subtitle-costum {
            text-align: left;
        }

        .card-container {
            flex-direction: column;
            .card {
                width: 100%;
                padding-top: 0;

                h5 {
                    margin-top: 10px;
                }


            }
        }

        .name-position-div {
            padding: 0;
            padding-left: 20px;
            margin-bottom: 0;
            margin: 0;
            text-align: left;

            p {
                text-align: left;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        .card-person-link {
            margin-left: 0;
            padding-left: 0;
        }

        .link-container {
            margin-top: 25px;
            margin-left: 0;
            padding-left: 0;
        }

        .person-link {
            padding: 0;
            margin-bottom: 20px;
        }

        .bg-image {
            height: 100%;
            margin-top: 0;
        }

        .social-media-links-div {
            background-color: var(--primary-color);
            width: 45%;
            height: auto;
            border-radius: 25px;
            padding: 8px;
            padding-bottom: 0;
            a {
                padding: 7px;
            }
        }
    }
}

.our-coaching-section {
    width: 100%;
    border-radius: 0;
    max-width: 1800px;
    background-color: var(--primary-color);
    position: relative;
    z-index: 1;
    margin: 40px auto;
}

@include media-md{
    .our-coaching-section {
        margin: 60px auto;
    }
}

@include media-xxxl{
    .our-coaching-section {
        border-radius: 50px;
    }
}

.title-subtitle-div{
    margin-bottom: 60px;
}

.our-coaching-section-subtitle-costum{
    align-items: center;
    gap: 10px;
}