.questions-section {
	color: var(--secondary-color);
	max-width: 1800px;
	width: 100%;
	margin: 40px auto;
}
.questions-section-container {
	max-width: 1290px;
	width: 100%;
	margin: 0 auto;
}
.questions-item {
	column-gap: 30px;
}
.questions-item-container {
	h2 {
		position: relative;
		margin-bottom: 0;
		transition: 0.3s;
		button {
			display: flex;
			padding: 25px 30px;
			box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
			border-radius: 20px;
			width: 100%;
			background: none;
			border: none;
			justify-content: space-between;
			align-items: center;
			gap: 30px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
.question-item-button-image {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: var(--contrast-color);
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 8px;
		height: 16px;
	}
}
.questions-item-collaps {
	div {
		padding: 0 25px 25px 25px;
		p {
			color: var(--base-color);
			max-width: 480px;
		}
	}
}
.question-title {
	font-size: 18px;
	line-height: 28px;
	font-weight: var(--semibold);
	color: var(--secondary-color);
	text-align: left;
	margin: 0;
}
@include media-md{
    .questions-section{
        margin: 60px auto;
    }
	.questions-item{
        columns: 2;
    }
}