.recent-blogs-section-container {
	max-width: 1290px;
	width: 100%;
	margin: 0 auto;
	color: var(--secondary-color);
}
.recent-blogs-section-title-container {
	display: flex;
	align-items: end;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 20px;
	margin-bottom: 60px;
}
.recent-blogs-title {
	color: var(--secondary-color);
}
.recent-blogs-section-subtitles {
	gap: 10px;
	margin-bottom: 10px;
	letter-spacing: 1.4px;
	display: flex;
}
.recent-blogs-subtitle {
	color: var(--secondary-color);
}
.recent-blogs-section-buttons {
	gap: 20px;
	display: flex;
	align-items: center;
}
.recent-blogs-section-button {
	width: 60px;
	height: 60px;
	border: 1px solid var(--light-color);
	border-radius: 50%;
	background-color: var(--extra-color);
	transition: 0.3s;
	&:hover {
		border: 1px solid var(--accent-color);
		background-color: var(--accent-color);
		cursor: pointer;
		img {
			&.default-img {
				display: none;
			}
			&.hover-img {
				display: inline;
			}
		}
	}
	img {
		&.hover-img {
			display: none;
		}
	}
}
.recent-blogs-item {
	padding: 40px 30px;
	border: 1px solid var(--light-color);
	border-radius: 20px;
	transition: 0.3s;
}
.recent-blogs-item-icon {
	img {
		width: 70px;
		height: 70px;
		border: 1px solid var(--accent-color);
		border-radius: 50%;
	}
}
.recent_blogs-item-media {
	overflow: hidden;
	border-radius: 10px;
}
.recent_blogs-thumb-image {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.recent_blogs-item-media-img-title {
	background: var(--primary-color);
	right: 0;
	margin: auto;
	margin-left: 30px;
	z-index: 7;
	padding: 30px 40px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	justify-content: space-between;
	margin-top: -75px;
	align-items: center;
	position: relative;
	display: flex;
}
.recent_blogs-item-media-img-title-text {
	h4 {
		color: var(--secondary-color);
		font-weight: var(--bold);
		line-height: 30px;
		font-size: 22px;
		margin-bottom: 10px;
		margin-top: 0;
	}
	p {
		color: var(--base-color);
		font-weight: var(--regular);
		line-height: 22px;
		font-size: 16px;
		font-style: normal;
		margin-bottom: 0;
	}
}
.recent_blogs-item-media-img-title-button {
	display: flex;
	align-items: center;
	a {
		background: var(--primary-color);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 17px;
	}
}
.recent_blogs-thumb {
	height: 324px;
}
.recent_blogs-item-media-img-title-button-image {
	padding: 17px;
	border: 1px solid var(--light-color);
	border-radius: 20px;
}
.recent-blog-item-media {
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 336px;
	a {
		img {
			width: 100%;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			height: 100%;
		}
	}
}
.recent-blog-item-text {
	padding: 20px 40px 40px;
	border: 1px solid var(--light-color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: none;
	transition: 0.3s;
}
.recent-blog-item-text-meta {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	span {
		a {
			color: var(--base-color);
			font-weight: var(--regular);
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 6px;
			line-height: 22px;
			text-decoration: none;
		}
	}
}
.recent-blog-item-text-bottom {
	a {
		color: var(--secondary-color);
		font-weight: var(--semibold);
		line-height: 30px;
		font-size: 14px;
		gap: 10px;
		text-decoration: none;
		h4 {
			font-size: 21px;
			font-weight: var(--bold);
			line-height: 30px;
			margin-bottom: 10px;
			margin-top: 0;
		}
	}
	p {
		font-weight: var(--regular);
		color: var(--base-color);
		line-height: 30px;
		font-size: 16px;
	}
}
.recent-blog-item-text-bottom-readmore {
	display: flex;
	align-items: center;
}
