/* Container holding all the visa cards */
.visa-section {
    display: flex;
    flex-direction: column; /* Stack the cards vertically */
    gap: 20px; /* Space between cards using flex gap */
    padding-bottom: 40px; /* Add bottom padding */
    margin-top: 4rem;
    
    h1 {
        color: var(--secondary-color);
        font-family: var(--primary-font-family); // Use the defined font family
        font-size: 2.25rem; // Responsive size
        text-align: center;
        padding-bottom: 0;
    }

    h5 {
        color: var(--secondary-color);
        font-family: var(--primary-font-family); // Use the defined font family
        font-size: 1rem; // Responsive size
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

/* Card layout adjustments */
.visa-card {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align items */
    padding: 15px; /* Padding around the card */
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid var(--light-color);
    border-radius: 25px;
    transition: transform 0.2s;
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Let content determine height */
    margin-bottom: 10%;
}

/* Image styling */
.visa-image {
    min-width: 100%;
    height: auto; /* Fixed height for image */
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 25px;
    padding-top: 5px;
}

.visa-image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Content section styling */
.visa-content {
    min-width: 100%;
    text-align: center;
}

/* Card bottom layout styling */
.card-bottom-layout {
    display: flex;
    width: 100%;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
}

.link-container,
.visa-icon-container {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Default to center content */
    width: 100%; /* Full width for mobile view */
}

.svg-link {
    position: relative; /* For positioning pseudo-elements */
    display: inline-block; /* Make sure the link behaves as a block */
    overflow: hidden; /* Hide overflow for the transition effect */
    border-radius: 19px; /* Match border-radius of the SVG */
    transition: background-color 0.2s ease; /* Transition for background color */
}

.svg-link:hover {
    background-color: var(--accent-color); /* Change background color on hover */
}

.svg-link:hover rect {
    stroke: none; /* Change the border color to white on hover */
}

.svg-link:hover path {
    fill: white; /* Change the arrow color to white on hover */
}

/* Optional: To prevent text selection on hover */
.svg-link:focus {
    outline: none; /* Remove focus outline */
}

/* Desktop media query */
@include media-md{
    .visa-div { 
        margin-bottom: 35px; 
    }
    
    .visa-section{
        margin-top: 5rem;

        h1 {
            color: var(--secondary-color);
            font-family: var(--primary-font-family); // Use the defined font family
            font-size: 2.75rem; // Responsive size
            text-align: left;
            padding-bottom: 0;
            margin-top: 0;
            padding-top: 0;
        }
    
        h5 {
            color: var(--secondary-color);
            font-family: var(--primary-font-family); // Use the defined font family
            font-size: 1rem; // Responsive size
            text-align: left;
            padding: 0;
            margin: 0;
        }
    }
    
    .visa-card {
        min-width: 0;
        min-height: 0;
        flex-direction: row; /* Row layout for desktop */
        display: flex;
        align-items: stretch; /* Stretch to make image and content the same height */
        padding: 20px;
        border: 1px solid var(--light-color);
        border-radius: 25px;
        height: 100%; /* Ensure the card fills the parent height */
        margin-bottom: 0;
    }
    
    .visa-image {
        min-width: 0;
        min-height: 0;
        flex-grow: 1; /* Allow image to take up available height */
        max-width: 45%; /* 50% width on desktop */
        height: 100%; /* Full height for desktop */
        padding: 0;
        display: flex;
        justify-content: center;
        border-radius: 25px;
    }
    
    .visa-image img {
        min-width: 0;
        width: 100%; /* Full width within container */
        height: 100%; /* Full height to match the container */
        object-fit: cover; /* Ensure the image covers the area */
        border-radius: 20px;
    }
    
    .visa-content {
        min-width: 0;
        min-height: 0;
        width: 55%;
        flex: 1;
        padding-left: 5%;
        text-align: left;
        padding-bottom: 0;
    }
    
    .visa-card-title,
    .visa-small-title,
    .visa-title {
        text-align: left;
    }

    .card-bottom-layout {
        padding: 0;
        justify-content: space-between;
    }

    .link-container,
    .visa-icon-container {
        width: 50%; /* 50% width for each container */
        display: flex;
        align-items: center; /* Vertically center content */
        justify-content: center; /* Center content within each container */
    }

    /* Ensure both the link and icon containers are centered */
    .link-container {
        justify-content: center;
    }

    .visa-icon-container {
        justify-content: center;
    }
}
