.visa-section{
    margin-top: 2.5%;
}
.visa-card {
    border: 2px solid var(--light-color);
    border-radius: 25px;
    padding: 20px; /* Add padding for consistent spacing */
    transition: transform 0.2s;
    display: flex;
    align-items: stretch; /* Ensure children fill the card height */
    height: 100%; /* Make card responsive to content height */
}

.visa-div{
    padding: 10px;
}
.row {
    margin-top: 30px; /* Add space between rows */
    margin-bottom: 30px; /* Add space between rows */
}

.visa-image {
    padding: 0;
    min-height: 100%;
    height: 100%; /* Set full height for the image container */
    display: flex;
}

.visa-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale image to fill container */
    border-radius: 8px;
}

.visa-content {
    flex: 1;
}

.visa-content p{
    color: var(--base-color);
}

.visa-card-title {
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.visa-small-title, .visa-title {
    color: var(--secondary-color);
    text-align: center;
}

.card-bottom-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visa-icon-container {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 50%;
    height: auto;
}

.link-container {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 0;
    width: 50%;
    height: auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .visa-card {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center-align items */
        width: 100%; /* Full width on smaller screens */
        padding: 15px; /* Adjust padding on smaller screens */
    }

    .visa-image {
        width: 100%; /* Full width for the image container */
        min-width: 100%;
        max-height: 150px; /* Ensure image container fits content */
        min-height: 0px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px; /* Space between image and content */
    }

    .visa-image img {
        width: 100%; /* Ensure image fills the width of its container */
        min-width: 100%; /* Full width for the image container */
        max-height: 150px; /* Ensure image container fits content */
        object-fit: cover; /* Scale image to fill container */
    }

    .visa-content {
        width: 100%; /* Ensure content takes full width */
        text-align: center; /* Center-align content on mobile */
        min-width: 100%; /* Full width for the image container */
    }

    .visa-card-title,
    .visa-small-title,
    .visa-title {
        text-align: center;
        width: 100%;
        min-width: 100%; /* Full width for the image container */
    }

    .card-bottom-layout {
        display: flex;
        margin-top: 5px;
        width: 100%;
    }

    .link-container,
    .visa-icon-container {
        width: 100%; /* Full width for mobile view */
        margin-bottom: 10px; /* Space between stacked items */
    }
}
